<section>
    <div *ngFor="let publicacion of publicaciones" class="publicacion" (click)="enrrutador(publicacion._id!)">
        <div class="ciberpunk">
         <img [src]="'http://localhost:3000/public/images/' + publicacion.img" alt="">
        </div>
        <div class="checho">
            <div class="punk">
                <h2>{{publicacion.title}}</h2>
            </div>
            <div class="ciber">
                <p>{{publicacion.descripcion}}</p>
            </div>
        </div>
    </div> 
</section>
