<section>
    <div class="publicacion">
        <div class="ciberpunk">
         <img src="Logo/Ciberpunk.jpg" alt="">
        </div>
        <div class="checho">
            <div class="punk">
                <h2>Titulo</h2>
            </div>
            <div class="ciber">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, eos quas nam repellat ipsa impedit pariatur eligendi illum amet harum, ducimus perspiciatis ullam minima aut? At, illo. Quibusdam, recusandae nemo.</p>
            </div>
        </div>
    </div>
</section>
