<section>
    <div class="plazacesamo">
        <h1>Creación de Publicaciones</h1>
    </div>
    <form action="" (submit)="postPublicacion()" [formGroup]="formPublicacion" class="Goku">
        <div>
            <label for="">Titulo</label>
            <input formControlName="title" type="text">
        </div>
        <div>
            <label for="">Descripción</label>
            <textarea formControlName="descripcion" name="" id=""></textarea>
        </div>
        <div>
            <label for="imagen">Imagen</label>
            <input type="file" id="imagen" accept="image/*" (change)="onFileSelected($event)">
        </div>

        <!-- Vista previa -->
        <div *ngIf="imagenPreview">
            <img [src]="imagenPreview" alt="Vista previa" class="preview">
        </div>

<!-- Enlaces -->
<div>
  <label>Enlaces</label>
  <div id="contenedor-inputs">
    <input *ngFor="let enlace of enlaces; let i = index"
           name="enlace{{i}}"
           placeholder="Enlace #{{i + 1}}"
           class="input-dinamico" />
  </div>
</div>

<!-- Autores -->
<div>
  <label>Autores</label>
  <div id="contenedor-inputs-author">
    <input *ngFor="let author of authors; let i = index"
           name="author{{i}}"
           placeholder="Autor #{{i + 1}}"
           class="input-dinamico" />
  </div>
</div>


<button type="button" (click)="aniadirenlace()">Añadir enlace</button>
<button type="button" (click)="aniadirauthor()">Añadir autor</button>

       
        <button class="flor" [disabled]="!formPublicacion.valid">
            Crear Publicacion
        </button>
    </form>
</section>