<div class="modal" id="modal">
<div class="modalbox">
  <div class="closemodal">
<h2 (click)="cerrarModal()">X</h2>
  </div>
<h2>Inicio de sesión</h2>
<form class="formlogin">
  <div class="inputs">
    <label for="">Correo Electronico</label>
    <input type="text">
  </div>
  <div class="inputs">
    <label for="">Contraseña Global</label>
    <input type="password">
  </div>
  <button class="puños">Iniciar Sesión</button>
</form>
</div>
</div>






<div class="container">
  <nav>
    <div class="banner">
      <img src="Logo/Logo.png" alt="">
    </div>
    <div class="segunda_seccion">
      <div class="barrita" (click)="enrutador('/inicio')">
        <h3>Inicio</h3>
      </div>
      <div class="barrita" (click)="enrutador('/Quienes_somos')">
        <h3>Quienes Somos</h3>
      </div>
@if (user) {
      <div class="barrita" (click)="abrirModal()">
        <h3>Iniciar Sesión</h3>
      </div>

       }@else {
        <div class="barrita" (click)="enrutador('/crear_publicacion')">
          <h3>Crear publicación</h3>
        </div>
        <div class="barrita" >
          <h3>Cerrar Sesión</h3>
        </div>
       }
      
    </div>
  </nav>
  <div class="app">
    <router-outlet></router-outlet>

  </div>
  <footer>
    <div class="items">
      <img src="Logo/Logo.png" alt="">
    </div>
    <div class="items">
      <h2>Pagina web con fines academicos para la clase de Litigio estrategico feminista</h2>
    </div>
  </footer>
</div>