<section>
    <div class="litigio">
        <img src="Logo/Quienes somos.png" alt="">
    </div>
    <div class="feminista">
        <div>
            <h2>¿Quienes somos?</h2>
        </div>
        <div>
            <p>Esta página web fue creada con fines académicos para la clase de litigio estratégico feminista con el objetivo de proporcionar un espacio de reflexión y análisis sobre el uso del derecho como herramienta para promover la igualdad de género y los derechos humanos de personas de todos los géneros, razas, etnias y orientaciones sexuales. A través de esta plataforma, se busca fomentar la discusión y el intercambio de ideas entre estudiantes, académicos y activistas interesados en el tema, con el fin de explorar estrategias legales innovadoras y efectivas para abordar la discriminación y la desigualdad en todas sus formas. Se pretende crear un recurso valioso para aquellos que buscan promover la justicia social y los derechos humanos a través del litigio estratégico y la defensa de los derechos.</p>
        </div>
    </div>
</section>