section{
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    box-sizing:content-box;
    overflow:hidden;
    justify-content: center;
  

}
.litigio{
padding: 20px 0;

}
.litigio img{
    width: clamp(250px, 50vw, 350px);
    object-fit: cover;
    


}
.feminista h2{
    font-size: 50px; 

}
.feminista p{
    font-size: 15px;
    line-height: 2.5;
    text-align: justify;
   
}
.gogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--c1);
}
.aguacero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--c1);
}
.medusas{
    flex-flow: row wrap;
}
.amarillo{
    font-size: 50px;
}
.amarillo p{
    font-size: 15px;
    line-height: 2.5;
    text-align: justify;
}
