<section>
    <div class="kihara">
        <h1>{{publicacion.title}}</h1>
    </div>
    <div class="dolly">
        <div class="tommy">
            <img [src]="'https://backend-constitucon.onrender.com/public/images/' + publicacion.img" alt="">

            <p>{{publicacion.publicado_por}}</p>
        </div>
        <div class="mojica">
            <p>
                {{publicacion.descripcion}}
            </p>
        </div>
    </div>
    <div class="kitbutousqui">
        <h2>
            Referencias:
        </h2>
    </div>
    <div class="referens">
        <a *ngFor="let referencias of publicacion.enlaces" href="{{referencias}}">{{referencias}}</a>
    </div>
    <div class="kitbutousqui">
        <h2>
            Autores:
        </h2>
    </div>
    <div class="referens">
        <h3 *ngFor="let autor of publicacion.authors" href="">{{autor}}</h3>
    </div>
</section>