<section>
    <div class="kihara">
        <h1>TITULO</h1>
    </div>
    <div class="dolly">
        <div class="tommy">
            <img src="Logo/Mary_luz.jpeg" alt="">
            <p>mariana.garcialo.amigo.edu.co</p>
        </div>
        <div class="mojica">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ullam, doloremque magnam rerum
                architecto nostrum quibusdam sed voluptatibus totam molestiae possimus repellat tempora. Iusto rerum
                adipisci magni fugiat reiciendis. Itaque.
            </p>
        </div>
    </div>
    <div class="referens">
        <a href="">referencias</a>
    </div>
</section>