<section>
    <div class="kihara">
        <h1>TITULO</h1>
    </div>
    <div class="dolly">
        <div class="tommy">
            <img src="Logo/Mary_luz.jpeg" alt="">
            <p>mariana.garcialo.amigo.edu.co</p>
        </div>
        <div class="mojica">
            <p>
                Mary Luz López Henao es una escritora, defensora de derechos humanos y lideresa social y cultural. Tiene una organización llamada “La casa de lulú, en donde busca que diferentes mujeres proyecten sus vidas y construyan un futuro en torno a la paz, ella con sus palabras escribe sobre resistir y construir memoria histórica, reflejando la violencia que se perpetua en torno a la mujer por la guerra; ella en su vida pasada fue una niña ultrajada, violentada y explotada sexualmente, para luego después de no tener mucha salida por la guerra, moverse en el mundo de la prostitución, su obra más significativa es “LA GUERRA ME HIZO PUTA”, pero también habla un poco de la desaparición forzada en “Alzo mi Voz”, es una mujer significativa para Colombia en estos tiempos, ya que habla sobre la violencia que vivió y sobre las violencias que viven miles de mujeres en Colombia.
Yo he aprendido del feminismo desde hace muchos años, me acerque un poco más un año antes de salir del colegio, mi primera marcha paso un año después. 
Soy feminista, para mi más que un movimiento, es un estilo de vida, y una de las personas que más me ha inspirado es Mary Luz López Henao, o como le gusta que le digan Malú.   
Malú es una escritora que fue víctima de violencia en Colombia, quien empezó a contar su historia en un centro de atención a víctimas. Ella fue una trabajadora sexual pero también fue víctima de explotación sexual cuando era una niña, como consecuencia del secuestro por parte de grupos armados; para mí, el objeto más impactante de su historia son los tacones, lo que más me marco es como una prenda de vestir se convirtió en tan profano y problemático artilugio para su existencia, el hablar de sus tacones, de su maquillaje y de su máscara cuando le tocaba trabajar en bares es bastante difícil de leer.
"llorar en seco es tener en el pecho una piedra maciza que no deja salir las lágrimas. Lo hice después de contar a mis padrinos que Toño, su yerno, me había metido al monte, me había bajado los calzones, introducido su lengua en la parte que nadie debida tocar a los niños y que intentó penetrarme. Entendí́ entonces que en ese rastrojo me estaba Dios porque no me cuido, porque yo lo busqué mirando al cielo, y no estaba" (la guerra me hizo puta p.g    )
Todos tenemos heridas generacionales, la mayoría de veces están más marcadas por las figuras femeninas de nuestro entorno, Malú hablo sobre la suya y me sentí identificada; cuando hablo de esta, me hizo entender también porque una parte de mi escogió el feminismo, creo que es porque para mí es muy difícil hablar de violencia cuando fuiste tu quien la viviste, y que ella hiciera un libro como el de “La Guerra Me Hizo Puta” reafirmo y marco un abismo enorme entre su herida y su descendencia, algo que yo quisiera hacer en un futuro con la mía. 
Gracias a su valentía, Malú se ha convertido en una defensora de los derechos humanos, ella lucha en contra de la objetualización de las mujeres en la prostitución, ya que después de su vivencia no lo considera como trabajo, ella habla sobre que la prostitución no puede ser romantizada ya que muchas de las mujeres que llegan a este mundo son por parte de la violencia y la guerra, y es verdad; uno de sus capítulos que más me impacto fue el de una amiga quien su propia madre la había metido en este mundo y que muchas veces les toco tener actos sexuales juntas, eso me hace pensar también a mí, hasta qué punto estamos normalizando las violencias y también me hace respetar su punto de vista sobre el trabajo sexual.
Malú es una mujer que me inspira en el feminismo a diario, le agradezco por sus letras porque con ellas no solo busca la justicia social de miles de mujeres en Colombia, sino que sus vivencias y dolores lo comparte con el mundo y lo transforma en una razón más para pedir a las víctimas de Colombia la justicia que no se les ha dado, la justicia que le han negado por muchos años a diferentes mujeres colombianas como Malú.
Malú es una de mis escritoras colombianas favoritas, eso se debe a que ella escribe para si misma, para combatir su dolor y lo que vivió, ella no escribe para nadie más, y esto me parece de valientes, porque hablar de la historia es fácil, pero hablar de nuestra historia y la violencia que tuvo que vivir en lo que tuvo que ser su entorno seguro y que al final impacto de manera tan grande en su vida, es algo que no se ve a diario.
La historia de esta mujer, solo es el reflejo de miles de mujeres en Colombia que siguen viviendo violencia, ¿hasta cuando la figura femenina tendrá que ser ultrajada y victima del conflicto armado? Esta es una pregunta que me queda y que espero que un futuro no tengamos que volvérnosla a preguntar; le doy gracias a Mary Luz por hablar de su vida y por dejarme en su libro una pequeña dedicatoria que es un sinónimo más de su empoderamiento, el cual habla sobre que ahora no vende más sus besos, sino que los regala a quien ella decide.

            </p>
        </div>
    </div>
    <div class="kitbutousqui">
<h2>
    Referencias:
</h2>
</div>
    <div class="referens">
        <a href="">referencias</a>
        <a href="">referencias</a>
        <a href="">referencias</a>
        <a href="">referencias</a>
        <a href="">referencias</a>
    </div>
</section>